Flask==0.12.2
Flask-Admin==1.5.3
Flask-BabelEx==0.9.3
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.4
Flask-Limiter==1.2.1
Flask-Login==0.4.1
Flask-Migrate==2.3.0
Flask-Moment==0.9.0
Flask-Script==2.0.6
Flask-Session==0.3.1
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2